<mat-toolbar>
  <mat-toolbar-row>
    <span>POS - CAFE :</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span><a class="sidebar-subtitle" id="home" routerLink="/dashboard/" routerLinkActive="active">Home</a>&nbsp;</span>
    <span  *ngFor="let side of sidebar">
      <span><a class="sidebar-subtitle" id="{{side.id}}" routerLink="/dashboard/{{side.slug}}">{{side.title.rendered}}</a>&nbsp;</span>
    </span>
    <span><a class="sidebar-subtitle" id="logout" routerLink="/logout" routerLinkActive="active">logout</a>&nbsp;</span>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
