<div>
<mat-card class="example-card" style="margin-left: auto;margin-right: auto;">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>ARTHURAPPLE</mat-card-title>
    <mat-card-subtitle>Renny Marcendy - Ikhlas Firlana</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://drive.google.com/uc?id=1Rfc162WBvvjgduW5jvdhWKGd1fFXc_AJ" alt="arthurapple">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="openDialog()">LOGIN</button>
    <button mat-button (click)="openDialogLaravel()">LARAVEL</button>
  </mat-card-actions>
</mat-card>
</div>
